.divForm{
	text-align: left;
	border: 1px solid #C8C8C8;
    /* max-width: 1000px; */
	/* height: 300px; */
	margin: auto;
	padding: 20px;
}
table{
	border:1px solid #C8C8C8;
	/* border-color:#339933; */
	 /* border-collapse: separate; */
	 width:99%;
}
h1{
	color:green;
	font-family:Georgia; 
	text-align:left;
	font-weight:bold;
	font-size:30px;
}
th{
	background-color:#99CC00;
	color:#FFFFFF;
	text-align: center;
}
td{
	color:#339933;
	border:1px solid #339933;
}

.btn{
	border:none;
	background-color:transparent;
	display: block;
	margin: auto;
}
.backgroundRed {
	background-color:red;
}
.backgroundInit {
	background-color:transparent;
}
