.divForm{
	position: absolute;/*绝对定位*/
	width: 300px;
	height: 150px;
	border: 1px solid #C8C8C8;
	text-align: center;/*(让div中的内容居中)*/
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px; 
	border-radius:3px;
	box-shadow:2px 2px 3px #D8D8D8;
}
p{
	color:#339933; 
	font-family:Georgia; 
	text-align:center; 
	font-weight:bold;
}
input{
	background-color:#F8F8F8; 
	border: 1px solid #D8D8D8;
	margin:3px auto;
	border-radius:3px;
	width:90%
}
button{
	background-color:#F0F0F0; 
	border: 1px solid #C8C8C8;
	margin:3px auto;
	border-radius:2px;
	width:90%
}